@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');

:root {
    /*Primary*/
    --bg-btn-soft-red: hsl(7, 99%, 70%);
    --bg-btn-yellow: hsl(51, 100%, 49%);
    --graphic-design-text: hsl(167, 40%, 24%);
    --photography-text: hsl(198, 62%, 26%);
    --bg-color-footer: hsl(168, 34%, 41%);
    /*Neutral*/
    --very-dark-desaturated-blue: hsl(212, 27%, 19%);
    --very-dark-grayish-blue: hsl(213, 9%, 39%);
    --dark-grayish-blue: hsl(232, 10%, 55%);
    --grayish-blue: hsl(210, 4%, 67%);
    --white: hsl(0, 0%, 100%);
    /*text*/
    --barlow-600: 'Barlow', sans-serif;
    --fraunces-700-900: 'Fraunces', serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
}

html {
    height: -webkit-fill-available;
    /* We have to fix html height */
}

body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
}

/*HEADER SECTION*/
header {
    display: flex;
    flex-direction: column;
    background: url(./images/mobile/image-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 90vh;
}

img.logo {
    margin: 20px;
    width: 40%;
    cursor: pointer;
}

/* ---- NAVBAR -----*/

nav #menuButton {
    position: absolute;
    top: 23px;
    right: 30px;
}

ul#menuItems {
    left: 36px;
    padding: 30px;
    margin-top: 20px;
    transform: translateY(30px);
}

.opened ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 1;
    width: 80%;
    background-color: white;
    list-style-type: none;

}

.opened ul a {
    text-decoration: none;
    font-family: var(--barlow-600);
    color: var(--dark-grayish-blue);
    padding: 15px;
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
}

.navTopLevel.opened a {
    display: block;
    text-align: center;
}

#menuItems button {
    padding: 15px 30px;
    border: none;
    background-color: var(--bg-btn-yellow);
    border-radius: 25px;
    font-family: var(--fraunces-700-900);
    text-transform: uppercase;
    font-size: 15px;
    margin: 20px;
}

.closed ul {
    display: none;
}


@media screen and (min-width: 800px) {

    .navTopLevel button.icon {
        display: none;
    }

    .navTopLevel li {
        display: inline-block;
        height: 2em;
        margin-top: 1em;
        line-height: 1em;
    }

    .closed ul,
    .opened ul {
        display: inherit;
    }

    button.aria-expanded {
        transition: all ease-in-out 2s;
    }
}

/*END OF NAVBAR*/

/*HEADER*/
header h1 {
    font-family: var(--fraunces-700-900);
    text-transform: uppercase;
    font-size: 2.5em;
    letter-spacing: 10px;
    color: var(--white);
    font-weight: 900;
    margin-top: 80px;
}

header .arrow {
    margin-top: 35px;
    width: 40px;
}

/*END OF HEADER*/

/*MAIN CONTENT*/

.bg-brand {
    width: 100%;
}

.brand-content {
    background-color: var(--white)
}

.brand-title {
    font-family: var(--fraunces-700-900);
    font-size: 35px;
    font-weight: 900;
    margin-top: 50px;
}

.brand-info {
    padding: 20px;
    font-family: var(--barlow-600);
    font-size: 18px;
    color: var(--very-dark-grayish-blue);
}

.btn-yellow {
    background: none;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    font-family: var(--fraunces-700-900);
    font-weight: 900;
    text-decoration: underline 3px var(--bg-btn-yellow);
    margin-bottom: 50px;
}

.btn-pink {
    background: none;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    font-family: var(--fraunces-700-900);
    font-weight: 900;
    text-decoration: underline 3px var(--bg-btn-soft-red);
}

.sect-2 .brand-title {
    padding: 10px;
}

.sect-3 {
    background: url(./images/mobile/image-graphic-design.jpg);
    min-height: 90vh;
    /*if I set 100vh the content will be collapsed down to the next section*/
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-top: 50px;
}

.sect-3 .brand-info,
.sect-3 .brand-title {
    color: var(--graphic-design-text);
}

.sect-4 {
    background: url(./images/mobile/image-photography.jpg);
    min-height: 90vh;
    /*if I set 100vh the content will be collapsed down to the next section*/
    background-size: cover;
    /*with this property work done also with 100vh min-height*/
    background-position: center;
    /*with this property work done also with 100vh min-height*/
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.sect-4 h2,
.sect-4 p {
    color: var(--photography-text);
}

.sect-3 .text-content,
.sect-4 .text-content {
    margin-bottom: 3em;
}

/*END OF MAIN CONTENT*/

/*TESTIMONIAL*/
.container {
    margin-top: 50px;
}

.container h3.title {
    font-family: var(--fraunces-700-900);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 15px;
    font-weight: 900;
    color: var(--grayish-blue)
}

.wrapper {
    margin-top: 50px;
}

.wrapper img {
    border-radius: 100px;
}

.box-content h3 {
    font-family: var(--fraunces-700-900);
    font-weight: 900;
    font-size: 1.5em;
    margin-top: 20px;
}

.box-content p {
    font-family: var(--barlow-600);
    font-size: 18px;
    color: var(--grayish-blue);
    margin: 10px;
}

.box-content .box-info {
    color: var(--very-dark-desaturated-blue);
    padding: 30px;
}

/*END OF TESTIMONIAL*/

/*IMAGE GALLERY*/
.image-box {
    margin-top: 50px;
    display: grid;
    /*to put the image side by side in a column of 2*/
    grid-template-columns: 1fr 1fr;
}

.image-box img {
    width: 100%;
}

/*END OF IMAGE GALLERY*/
/*FOOTER*/
footer {
    min-height: 40vh;
    display: flex;
    background-color: hsl(167, 44%, 70%);
    flex-direction: column;
    align-items: center;
}

footer .bg-logo {
    margin-top: 50px;
    width: 50%;
    /*to modify the color of the logo*/
    filter: invert(27%) sepia(5%) saturate(4598%) hue-rotate(116deg) brightness(45%) contrast(80%);
}

footer ul {
    margin-top: 30px;
    list-style-type: none;
    font-family: var(--barlow-600);
    display: flex;
    justify-content: space-between;
    gap: 4em;
    color: var(--bg-color-footer);
}

footer .social {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 40px;
}

footer .social img {
    background: none;
    margin: 10px;
}

/*END OF FOOTER*/